body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
}

.worksheet-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.worksheet-section-heading h2 {
  font-size: 3rem;
}

.worksheet-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.horizontalLine {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5vh 0px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.worksheet-item {
  display: block;
  position: relative;
  overflow: hidden;
  height: 265px;
  margin: 1rem 1rem;
}

a {
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.finalProject {
  margin: 0 auto;
}

.worksheet-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.worksheet-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.worksheet-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.worksheet-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

.worksheet-item img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.worksheet-item {
  transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  clip-path: inset(0px);
  -webkit-clip-path: inset(0px);
}

.worksheet-item .caption {
  transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  clip-path: inset(0px);
  -webkit-clip-path: inset(0px);
}

.worksheet-item .caption .caption-content {
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.worksheet-item img {
  transition: -webkit-clip-path 0.25s ease-out;
  -webkit-transition: -webkit-clip-path 0.25s ease-out;
  clip-path: inset(-1px);
  -webkit-clip-path: inset(-1px);
}

.worksheet-item:hover img {
  clip-path: inset(1rem);
  -webkit-clip-path: inset(1rem);
}

.worksheet-item:hover .caption {
  clip-path: inset(1rem);
  -webkit-clip-path: inset(1rem);
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-secondary {
  color: #ecb807 !important;
}